<nav class="navbar justify-content-end navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">Hello
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">HOL</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/main">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/secret">Secret</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/team">The Team</a>
        </li>
        @if(ViewBag.Id == null)
        {
            <li class="nav-item">
            <a class="nav-link" href="/reg">Register/Login</a>
            </li>
        }
        @if(ViewBag.Id !=null)
        {
            <li class="nav-item">
                <a class="nav-link" href="/account">My Account</a>
            </li>
        }
        @if(ViewBag.Id != null)
        {
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        }
    </ul>
</nav>
<div style="background-color:rgba(110, 14, 16, 0.5); padding:20px;">
    <div class="row">
        <div class="col-sm-12 video">
            <video style="display: block; margin-left: auto; margin-right: auto;" width="595" height="395" controls>
                <source src="~/images/HouseOfLight-2/HouseOfLight-2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br>
            <h2 style="color:white;">Summary</h2>
            <p style="color: #D3D3D3;">House of Light, you must explore an empty Lighthouse, restore its light, and uncover the mystery of what happened to its previous owner and the light he should have tended. Armed with only a flashlight and your mind, you must navigate its twisting hallways, dispelling the darkness and holding on to your sanity. But not everything is as it seems. Some clues might lead you astray, and not every door was meant to be opened.</p>
            <a href="~/Spooky.zip" download="~/Spooky.zip"><button class="btn btn-dark">Download</button></a>
        </div>
    </div>
</div>