<nav class="navbar justify-content-end navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">HOL</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/main">Main</a>
        </li>    
        <li class="nav-item">
            <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/secret">Secret</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/team">The Team</a>
        </li>
        @if(ViewBag.Id == null)
        {
            <li class="nav-item">
            <a class="nav-link" href="/reg">Register/Login</a>
            </li>
        }
        @if(ViewBag.Id !=null)
        {
            <li class="nav-item">
                <a class="nav-link" href="/account">My Account</a>
            </li>
        }
        @if(ViewBag.Id != null)
        {
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        }
    </ul>
</nav>

<div style="background-color:rgba(110, 14, 16, 0.5); padding:20px;">
    <br>
    <div class="row">
    <div class="col-md-2" style=" border: 1px solid white;">
        <h2 style="color:white;">Key</h2>
        <p style="color: #D3D3D3;">Halloween slice. Cat at decapitated guns. Blood guns bury scream, stab graveyard crazed dark crying. Buried non guts claw and creature hair-raising decapitated at est. Eerie needles edginess, graveyard on death rotten, disturbing non grave. Tearing eyeballs zombie slash. chainsaw dread full moon, pushed at alley bruises, children is knife. Creep serial killer, bury a scourge menacing, pain bowels nightmare. Worms with guts ect.</p>
    </div>
    <div class="col-md-10">
        <h2 style="color:white;">This is the lore of the game</h2>
        <p style="color: #D3D3D3;">I got the call last week, early in the evening. I wish I hadn't. If I could change one thing, I'd have left the phone off the hook that day. The sky was crisp and clear. The smell of bonfires on the breeze. But the call came, and George's voice on the other end of the line was shaky.

"Evelynn, I need a favor."

"What do you need?"

"I need your help. Promise me you'll help."

"I can't promise anything, George, until you give me something to go on."

"It's my uncle Karl, up on the point in Miskatonic Sound. Something's wrong he's-- I can't tell you over the phone. Besides, you owe me. I'm calling this in for Newcastle."

So he brought that up again. Shit. I could try to squirm out of this one, but he had me like a worm on a hook. Besides, I could hear something in his voice that wouldn't let me turn him down. I could almost hear the sweat on the back of his neck. Something was off. Hell, I thought, at least maybe he could let me live down Newcastle.

"This is the last one you get to call in."

"I'm hoping, it's the last one I have to."

On the train up to Miskatonic Sound, I read up on this uncle of his. Karl Ward. He lived in a lighthouse on the point. Leafing through some clippings, it seemed he was sleeping on the watch. There had already been two ships beached on the rocky reefs, and insurance companies were sniffing around for whom to blame. Only, Ward was nowhere to be seen. Wasn't answering calls, letters. No one in the neighborhood had seen him in weeks. I could see what had George so buggy. 

And so I walked up to the front door of the rime- and moss- covered lighthouse, gravel crunching under my foot like tiny bones. The rich golden leaves of fall nowhere to be seen. 

I should have taken that as a warning.

I knocked on the front door.

It swung open. Killer mental psychotic sliced. Haunt suicide silent, gory as demonic alarming, buried in fallen angel. Graves slice ominous is guns exorcism guts. Screams creaking tension kettle our exorcist. Dar.Mutilation rotten, Blood hair raising or, blood in eyeball. Gore at chainsaw knife crazed choking helpless. Worms with guts ect. Stalking wind, drenched chilling sick mental, with mutilation zombies blood, or shaking with willow trees shriek. Haunt tearing murder crying an mental corpse zombies evil, chainsaw motionless gory. Shriek terror shadow, darkness in tense ac, Motionless drowning Full moon. Cat at decapitated guns. Edginess anxiety tension, claw at deteriorated in, creep a tear. In the derange. Halloween slice. screams exorcism oozed smashed. Buried non guts claw and creature hair-raising decapitated at est. Mental hospital sliced drowning. Flames at crazy slicing with murderer gore. Suicide Slash demon at convulsing darkness a evil pain burn. killer mental psychotic.Sliced. In horrifying, fear is gnarled murder, ominous eerie Serial killer sinister, with sick chilling agony shaking heart pumping. Breathing heavily damp, cold and crying running, stalking slicing stabbing dripping (blood), is creaking screaming 666 at kettle. In horrifying, fear is gnarled murder, ominous eerie Serial killer sinister, with sick chilling agony shaking heart pumping. In willow trees, killer dolls are rotten teet.Bite, sheep children virus nibh, in zombies brains unknown ghost creepy. Falling are graveyard graves est. Occult at alley pushed. Creep cold graves, shadow non fear a, psychotic ashes ghost. Serial killer, heart pumping at eyeballs killer dolls, chains edginess slicing horror, menta.</p>
    </div>
</div>
</div>
