@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <img src="~/images/HouseOfLight-better.png" width="645px"alt="house of light">
    </div>
    <div class="col-md-6">
        <img src="~/images/welcome.png" width="600px"alt="welcome">
        <a style="text-align:center;"href="/main"><button type="submit" class="btn btn-dark btn-lg btn-block">Enter</button></a>
    </div>
</div>