<div class="row">
    <div class="col-sm">
        <img style="display: block; margin-left: auto; margin-right: auto;" src="~/images/HOL-jus.png" width="700px"alt="house of light">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <partial name="RegPartial"/>
    </div>
    <div  class="col-md-6">
        <partial name="LoginPartial"/>
    </div>
</div>