@model Login
<br><br>
<h1 style="color:white" >Login</h1>
<form asp-action="Login" asp-controller="Home" method="post">
    <div class="form-group">
        <span style="color:red" asp-validation-for="Email1"></span>
        <label style="color:white" asp-for="Email1" for="exampleInputEmail1">Email address:</label>
        <input asp-for="Email1" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <span style="color:red" asp-validation-for="Password1"></span>
        <label style="color:white" asp-for="Password1" for="exampleInputPassword1">Password:</label>
        <input asp-for="Password1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-dark">Sign in</button>
</form>